.cart {
    background: #ececec;
    display: none;
    padding: 32px;
    position: fixed;
    right: 0px;
    height: 100%;
    top: 0px;
    width: 300px;
    z-index: 888;
    box-shadow: 0px 0px 5px 0px #9e9e9e;
  }
  
  .cart li {
    padding-bottom: 16px;
  }
  
  .cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .cart footer button {
    padding: 8px;
  }
  
  .cart-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 15px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
  }
  
  .cart-button:hover {
    scale: 1.1;
  }
  

  .title {
    color: white;
  }

  .cart-button ~ input:checked ~ .cart {
    display: block;
  }